.particles-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .particles-container,
.fullscreen-particles {
  position: fixed; /* Always behind everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Background layer */
  pointer-events: none; /* So user clicks pass through */
}
