* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.skill {
    width: 100%;
    background: linear-gradient(45deg, #dff4e4 0%, #f0ddee 24%, #dee7f5 49%, #e9dae4 73%, #cbffff 100%);
    padding: 50px 0 30px 22%;
}

.skilbtn {
    width: 150px;
    height: 6vh;
    border-radius: 20px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 2px 2px 4px rgba(26, 31, 54, 0.45);
    font-weight: 600;
    padding: 5px;
}

.skilbtn span {
    color: orangered;
    font-size: 18px;
    margin-right: 5px;
}

.skil-box {
    width: 100%;
    padding: 50px 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.skil-box-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
    padding-left: 2%;
}

.skil-box-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.skil-card {
    width: 450px;
    height: 45px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.skil-card div {
    position: absolute;
    height: 1vh;
    background-color: rgb(97, 96, 96);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-out;
    width: 0%;
}

.skil-card h4,
.skil-card p {
    margin: 0 10px;
    font-weight: 560;
}

.html {
    color: orangered;
    font-size: 20px;
    margin-right: 5px;
}

.css {
    color: blue;
    font-size: 20px;
    margin-right: 5px;
}

.boot {
    color: rgb(146, 48, 146);
    font-size: 20px;
    margin-right: 5px;
}

.js {
    color: rgb(221, 221, 0);
    font-size: 20px;
    margin-right: 5px;
}

.react {
    color: rgb(0, 255, 255);
    font-size: 20px;
    margin-right: 5px;
}

.git {
    color: black;
    font-size: 20px;
    margin-right: 5px;
}

.ski {
  margin: 15px 0 0 0;
  text-align: center;
}

.circle {
  --size: 160px;
  --border: 12px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: conic-gradient(gray calc(var(--percent) * 1%), black 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: background 1s cubic-bezier(0, 0.6, 0.9, 0.84);
}

.circle .number {
  font-size: 25px;
  background: linear-gradient(45deg, #dff4e4 0%, #f0ddee 24%, #dee7f5 49%, #e9dae4 73%, #cbffff 100%);
  border-radius: 50%;
  width: calc(var(--size) - var(--border) * 2);
  height: calc(var(--size) - var(--border) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.ski h2{
    margin-bottom: 20px;
}

@media screen and (max-width:980px) and (min-width:700px) {
    .skill{
        padding-left: 20px;
    }
    .skil-box{
        padding-left: 0px;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    .skill{
        padding-left: 20px;
    }
    .skil-box{
        padding-left: 0px;
        flex-direction: column;
    }
    .skil-box-left{
        width: 100%;
        padding: 0;
    }
    .skil-box-right{
        width: 100%;
        margin-top: 20px;
    }
    .skil-card{
        width: 550px;
    }
}

@media screen and (max-width:500px) and (min-width:320px) {
    .skill{
        padding-left: 20px;
    }
    .skil-box{
        padding-left: 0px;
        flex-direction: column;
    }
    .skil-box-left{
        width: 100%;
        padding: 0;
    }
    .skil-box-right{
        width: 100%;
        margin-top: 20px;
    }
    .skil-card{
        width: 100%;
    }
}